#   Author: Marc Pangan
#   Desc: CentOS 7 Minimal Kickstart file
#       OS: CentOS 7 Minimal (core)
# Version: 1.0

#platform=x86, AMD64, or Intel EM64T
#version=DEVEL

# Install OS instead of upgrade
install

# Use CDROM installation media
cdrom

# Keyboard layouts
keyboard --xlayouts=us

# Root password
rootpw --iscrypted $1$4xBB1vsF$S1/FBCYHb.8z6BUn2Xx3o/

# System language
lang ja_JP --addsupport=en_US

# System authorization information
auth  --useshadow  --passalgo=sha512

# Use Text install mode
text
firstboot --disable

# SELinux configuration
selinux --enforcing

# Firewall configuration
firewall --enabled --port=22

# Network information
network --device=eth0 --bootproto=dhcp --hostname=localhost.localdomain --activate

# Reboot after installation
reboot --eject

# System timezone
timezone Asia/Tokyo --isUtc

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm --fstype=ext4
clearpart --none --initlabel

# Turn-Off System after installaton
poweroff

# Packages to installed
%packages
@^Minimal install
%end

%post --log=/root/ks-post.log

yum install perl python3 -y

%end